<div class="rounded border border-gray-200 shadow-md p-6">
    <h3 class="mb-4 text-xl font-bold">{{food}}</h3>
    <p class="mb-4 text-lg text-gray-700">Meal Id: {{id}}</p>
    <p class="mb-4 text-lg text-gray-700">Calories: {{calorie}}</p>
    <a href="/dog/{{id}}">
    <button class="rounded bg-blue-500 px-4 py-2 font-bold text-white hover:bg-blue-600">see all meals</button></a>
</div>
