<div class="rounded border border-gray-200 shadow-md p-6 bg-white">
  {{!-- <h3 class="mb-4 text-xl font-bold">{{name}}</h3> --}}
  <p class="mb-4 text-lg text-gray-700">Weight: {{weight}}kg</p>
  <p class="mb-4 text-lg text-gray-700">Date weighed: {{format_date created_at}}</p>
</div>