<div class="rounded border border-gray-200 shadow-md p-6 bg-white">
  {{!-- <h3 class="mb-4 text-xl font-bold">{{name}}</h3> --}}
  <p class="mb-4 text-3xl font-bold capitalize uppercase text-gray-700"><span
      class="font-bold"
    >Weight</span>:
    {{weight}}kg</p>
  <p class="mb-4 text-lg text-gray-700"><span class="font-bold">Date weighed:</span>
    {{format_date created_at}}</p>
</div>