<!-- Hero Section -->
<section class="bg-gray-100 py-16 text-center">
  <div class="container mx-auto">
    <h1 class="mb-4 text-4xl font-bold">Welcome {{user.name}} to your Dashboard</h1>
    <p class="mb-8 text-lg text-gray-700">Track your dog's diet and health
      easily!</p>

    {{!-- this button also toggels the modal --}}
    <a
      href="#"
      class="add-meal-btn rounded bg-blue-500 px-4 py-2 font-bold text-white hover:bg-blue-600"
      data-modal-target="crud-modal" data-modal-toggle="crud-modal"
      type="button"
    >Add a new Meal</a>
    
  </div>
</section>

{{!-- Dog Session --}}
<section>
  <div class="container mx-auto text-center">
    <h2 class="mb-8 text-2xl font-bold">Your Meal Logs</h2>
    <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-2">
      {{#each meals as |meal|}}
      {{>meal-details}}
      {{/each}}
    </div>
  </div>
</section>



<!-- Main modal -->
<div id="crud-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                    Create New Meal Log
                </h3>
                <button type="button" class="modal-close-btn text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="crud-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <form class="p-4 md:p-5">
                <div class="grid gap-4 mb-4 grid-cols-2">
                    <div class="col-span-2">
                        <label for="meal" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Meal Name</label>
                        <input type="text" name="meal" id="meal" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Kibble" required="">
                    </div>
                    <div class="col-span-2 sm:col-span-1">
                        <label for="calories" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Calories</label>
                        <input type="number" name="calories" id="calories" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="1200" required="">
                    </div>
                   
                </div>
                <button type="submit" class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
                   Create
                </button>
            </form>
        </div>
    </div>
</div> 

<div id="modal-overlay" class="hidden fixed inset-0 bg-black bg-opacity-50 z-40"></div>

<script src="/js/meal.js"></script>
